Repository bashmish/carehtml: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint fix, eslint --fix, prettier --write

chore: setup auto commit message linting
  .commitlintrc
  .huskyrc
  .npmignore
  package.json
  yarn.lock
Due: eclint fix

feat: implement cache to prevent rerendering when strings reference change
  README.md
  src/transform.js
  test/wrap.spec.js
Due: eclint fix, eslint --fix, prettier --write

fix(transform): check for truthy value before comparing value.prototype
  src/transform.js
Due: eclint fix, eslint --fix, prettier --write

test(wrap): regression test truthy value check
  test/wrap.spec.js
Due: eclint fix, eslint --fix, prettier --write

Handle null value
  src/transform.js
Due: eclint fix, eslint --fix, prettier --write

TypeScript defs
  package.json
  src/wrap.d.ts
Due: eclint fix

Revert "test(wrap): regression test truthy value check"
  test/wrap.spec.js
Due: eclint fix, eslint --fix, prettier --write

test(transform): regression unit test truthy value check
  test/transform.spec.js
Due: eclint fix, eslint --fix, prettier --write

fix(transform): do not throw on nullish value (#19)
  src/transform.js
  test/transform.spec.js
Due: eclint fix, eslint --fix, prettier --write

Update wrap.d.ts
  src/wrap.d.ts
Due: eclint fix

feat: add TypeScript definitions (#22)
  package.json
  src/wrap.d.ts
Due: eclint fix

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: eclint fix, prettier --write

chore: ignore .vscode dir when publishing
  .npmignore
Due: eclint fix

chore: update prettier
  .eslintrc
  README.md
  bench/wrap.bench.js
  karma.bench.conf.js
  karma.bs.conf.js
  karma.conf.js
  package.json
  test/transform.spec.js
  test/wrap.spec.js
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

chore: move test and benchmark files closer to the sources
  .eslintrc
  .npmignore
  karma.bench.conf.js
  karma.conf.js
  src/transform.spec.js
  src/wrap.bench.js
  src/wrap.spec.js
  wallaby.js
Due: eclint fix, eslint --fix, prettier --write

chore: use @web/test-runner to run tests
  .eslintrc
  .npmignore
  karma.bench.conf.js
  karma.bs.conf.js
  karma.conf.js
  package.json
  web-test-runner.bs.config.mjs
  web-test-runner.config.mjs
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

chore: add workaround for WTR ES5 transpilation failing test in Edge 18
  src/transform.spec.js
Due: eclint fix, eslint --fix, prettier --write

chore: remove unused dev dependency
  package.json
  yarn.lock
Due: eclint fix

feat: cache template to avoid rerendering when strings reference changes
  src/transform.js
  src/wrap.spec.js
Due: eclint fix, eslint --fix, prettier --write

chore: make new benchmarks using tachometer
  .eslintrc
  .gitignore
  .npmignore
  README.md
  benchmarks/generate-tachometer-config.js
  benchmarks/index.html
  benchmarks/template-tachometer.json
  package.json
  src/wrap.spec.js
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

chore: update year in LICENSE
  LICENSE
Due: eclint fix

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: eclint fix, prettier --write

chore: upgrade lint-staged to v10
  .lintstagedrc
  package.json
  yarn.lock
Due: eclint fix

chore: update all dependencies
  package.json
  yarn.lock
Due: eclint fix

chore: upgrade husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .npmignore
  package.json
  yarn.lock
Due: eclint fix

chore: remove leftover from old benchmarks
  .eslintrc
  karma.bench.conf.js
  src/wrap.bench.js
Due: eclint fix, eslint --fix, prettier --write

chore: remove unusable generic bench script
  package.json
Due: eclint fix

chore: adapt wallaby.js to new tests location
  wallaby.js
Due: eclint fix, eslint --fix, prettier --write

chore: dry tachometer template
  benchmarks/template-tachometer.json
Due: eclint fix

fix: prevent globalThis issue when running tests in Edge
  benchmarks/template-tachometer.json
  package.json
  yarn.lock
Due: eclint fix

feat: setup CI using GitHub actions
  .github/workflows/ci.yml
  .npmignore
Due: eclint fix

test: fix running tests on Mac M1
  package.json
  yarn.lock
Due: eclint fix

perf: update tachometer with support for latest Firefox
  benchmarks/template-tachometer.json
  package.json
  yarn.lock
Due: eclint fix

test: add globalThis polyfill for Edge 18
  package.json
  src/wrap.spec.js
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

feat: support Lit 2.x
  README.md
  benchmarks/index.html
  benchmarks/template-tachometer.json
  package.json
  src/transform.js
  src/transform.spec.js
  src/wrap.spec.js
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

fix: define types in package.json correctly to be auto loaded
  package.json
Due: eclint fix

chore(release): 0.1.4
  CHANGELOG.md
  package.json
Due: eclint fix, prettier --write

fix: comply with Custom Elements name constraints
  src/transform.js
  src/transform.spec.js
Due: eclint fix, eslint --fix, prettier --write

chore(release): 0.1.5
  CHANGELOG.md
  package.json
Due: eclint fix, prettier --write

chore: use new chai bundle with types
  package.json
  src/transform.spec.js
  src/wrap.spec.js
  yarn.lock
Due: eclint fix, eslint --fix, prettier --write

Path conditions:
  eclint fix: any of: *
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
